div::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

div {
    scrollbar-width: none;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
}